
// contact section

.contact-border-fixing {
    border-bottom: 2px dotted white !important;
}

.para-textcolorcon {
    font-family: "Sulphur Point", sans-serif !important;
    text-align: justify !important;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2;
}
